
<div class="container">
    <h2>Product Details</h2>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <p>Product ID</p>
        </div>
        <div class="col-sm-4">
            <p>{{productName}}</p>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>Product Brand</p>
        </div>
        <div class="col-sm-4">
            <p>{{brand}}</p>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>Product size</p>
        </div>
        <div class="col-sm-4">
            <p>{{size}}</p>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>Product color</p>
        </div>
        <div class="col-sm-4">
            <p>{{color}}</p>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>In stock</p>
        </div>
        <div class="col-sm-4">
            <p>{{noOfstocks}}</p>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>Promotion Code</p>
        </div>
        <div class="col-sm-4">
            <p>{{promotionCode}}</p>
        </div>
        
    </div>
    <button class="primary-btn btn" (click)="onClick()">Home</button>
</div>