<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <h1>Welcome to Product Microservice</h1>
        </div>
    </div>
    <ul class="nav nav-pills">
        <li class="active"><a href="#">Home</a></li>
        <li><a routerLink="productCreate">Create Product</a></li>
    </ul>
    <br>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>Product</h2>
                <h5>Product Creation, Oct 7, 2019</h5>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco.</p>
            </div>
        </div>